spring:
  application:
    name: nexuspay
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
    jpa:
      show-sql: true
      hibernate:
        ddl-auto: validate
        properties:
          hibernate.format_sql: true
    flyway:
      enabled: true
  logging:
    level:
      org:
        springframework.security: DEBUG
        springframework.web.access: DEBUG
        hibernate:
          type: trace